/*
.custom-nav-link {
    font-size: 1.25rem;
}

.custom-nav-link .mud-icon {
    font-size: 1.5rem;
}
*/

.linha-selecionada {
    background-color: #E3F2FD !important; /* Azul claro */
    color: #0D47A1; /* Texto azul escuro */
}

tr[style*="background-color: var(--mud-palette-primary)"] td {
    color: var(--mud-palette-primary-text) !important;
}

.loading-progress circle:last-child {
    stroke: #FFF700;
}

/*Imagem de fundo num container*/
.login-container {
    background-image: url('/imgs/backgroud-transito.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*div embaçada*/
.embacado {
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}