@page "/login"
@using System.ComponentModel.DataAnnotations
@layout LoginLayout

<PageTitle>Entrar</PageTitle>

<MudGrid Justify="Justify.Center" >
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        @* <MudPaper Class="mud-width-full"> *@
        <MudPaper Class="pa-8 embacado">
            <div class="d-flex justify-center">
                <img src="imgs/multa-logo-1024Por500.PNG" alt="logo principal" width="250" />
            </div>
            Informe suas credenciais de acesso
            <MudForm @ref="_mudForm">
                <MudTextField 
                    T="string" 
                    Label="E-mail" 
                    InputType="InputType.Email" 
                    Required="true" 
                    RequiredError="Informe o E-mail" 
                    Validation="@(new EmailAddressAttribute{ ErrorMessage = "E-mail invalido" })">   
                </MudTextField>
                <MudTextField
                    T = "string" 
                    Label="Senha" 
                    InputType="InputType.Password" 
                    Required="true" 
                    RequiredError="Senha invalida">

                </MudTextField>
            </MudForm>

            <div class="d-flex mt-8">
                <MudButton Variant="Variant.Filled" Color="Color.Primary">
                    Entrar
                </MudButton>
                <MudSpacer></MudSpacer>
                <MudButton Href="/esqueci" Variant="Variant.Filled" Color="Color.Dark">
                    Esqueci a senha
                </MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    MudForm _mudForm = new();
}
