@page "/login"
@layout LoginLayout

<PageTitle>Entrar</PageTitle>

<h3>login</h3>

<MudGrid Justify="Justify.Center">
    <MudItem>
        1
    </MudItem>
    <MudItem>
        1
    </MudItem>
</MudGrid>

@code {

}
