@typeparam TModel

<EditForm Model="@Model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />

    @ChildContent
    <div class="d-flex justify-space-between mt-5" style="width: 100%;">
        <MudButton ButtonType="ButtonType.Button"
                   Variant="Variant.Filled"
                   Color="Color.Secondary"
                   Disabled="@IsBusy"
                   OnClick="Voltar">
            @TextoBotaoVoltar
        </MudButton>

        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Disabled="@IsBusy">
            @TextoBotaoSalvar
        </MudButton>
    </div>
</EditForm>

